<p id="notice"><%= notice %></p>

<div className="header" style="width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    text-align: right;">
    <div className="header1" style="display: inline-block;margin: 0 10px;">
        <%= link_to 'Feed', feed_posts_path %>
    </div>
    <div className="header3" style="display: inline-block;margin: 0 10px;">
        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
    </div>
</div>

<div className="feed_header" style="margin: 20px;
display: flex;
align-items: center;
align-content: center;
font-size: 32pt;
font-family: cursive;">
    Posts by <%= current_user.email%>
</div>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
