<p id="notice"><%= notice %></p>
<%= react_component("posts/show/Show", signOutLink: "../users/sign_out",feedLink: "/posts/feed", backLink:"/posts", imageLink: url_for(@post.image), hashtags: @post.hashtags) %>
<div>
    <%= render_with_hashtags(@post.hashtags) %>
</div>
<%= link_to 'Back', posts_path %>
<%= react_component("share/Share") %>
